# Production Profile

spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false

logging:
  level:
    root: WARN
    com.tamaliback: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer: ERROR
    org.hibernate: WARN
    com.zaxxer.hikari: WARN

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
